@tailwind base;
@tailwind components;
@tailwind utilities;


.my-masonry-grid {
  display: flex;
  margin-left: -1rem; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 2rem; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 2rem;
}

.active-underline::after {
  content: "";
  display: inline-block;
  width: 24px;      /* Short underline */
  height: 4px;      /* Thick underline */
  background: #000;
  border-radius: 2px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}